body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1
}

#shelter-controls {
    display: inline-flex;
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
}